<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="#">[LOGO]</a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item {{ (page == "profile") ? "active" : "" }}">
                <a class="nav-link" href="/">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pending">Pending</a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: #9a9da0; text-decoration: none">
                    Reports
                </a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Collection Sheet</a>
                    <a href="#" class="dropdown-item">Collection Report</a>
                    <a href="/payment" class="dropdown-item">Payment Form<span class="sr-only">(current)</span></a>
                </div>
            </li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
            kim admin
        </button>
        <div class="dropdown-menu" style="right: 0; left: auto;">
            <a href="#" class="dropdown-item">Account Setting</a>
            <a href="#" class="dropdown-item">Change Password</a>
            <a href="/logout" class="dropdown-item">Logout</a>
        </div>
    </div>
</nav>

<div class="container mt-3">
    <div style="border-bottom: 1px solid black; margin-bottom: 10px;">
        <h3 class="text-muted pb-1" style=" display: inline-block;">Active Accounts</h3>
        <div class="dropdown float-right" style="display: inline-block; ">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" style="text-decoration: none;">
                Active Accounts
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class="dropdown-item">Active Accounts <span class="sr-only">(current)</span></a>
                <a href="#" class="dropdown-item">With Arrears</a>
                <a href="/payment" class="dropdown-item">Matured Accounts</a>
            </div>
        </div>
    </div>
    <!--Active accounts-->
    <table id="dataTable" class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Daily Due</th>
                <th>Amount Paid</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Kim jay luta</td>
                <td>Uni Level</td>
                <td>09/21/1998</td>
                <td><b>PHP</b> 1,000</td>
            </tr>
        </tbody>
    </table>

    <!--With Arrears-->
    <div style="border-bottom: 1px solid black; margin-bottom: 10px;">
        <h3 class="text-muted pb-1" style=" display: inline-block;">With Arrears </h3>
        <div class="dropdown float-right" style="display: inline-block; ">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" style="text-decoration: none;">
                With Arrears
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class="dropdown-item">Active Accounts <span class="sr-only">(current)</span></a>
                <a href="#" class="dropdown-item">With Arrears</a>
                <a href="/payment" class="dropdown-item">Matured Accountx</a>
            </div>
        </div>
    </div>
    <table id="dataTable" class="table table-striped table-bordered" cellspacing="0">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Daily Due</th>
            <th>Arrears</th>
            <th>Amount Paid</th>
            <th>Total Amount Due</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Jacin Jake Arbas</td>
            <td>Uni Level</td>
            <td>40</td>
            <td>09/21/1998</td>
            <td><b>PHP</b> 1,000</td>
            <td><b>PHP</b> 10,000</td>
        </tr>
        </tbody>
    </table>


    <!--With Arrears-->
    <div style="border-bottom: 1px solid black; margin-bottom: 10px;">
        <h3 class="text-muted pb-1" style=" display: inline-block;">Matured Accounts</h3>
        <div class="dropdown float-right" style="display: inline-block; ">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" style="text-decoration: none;">
                Matured Accounts
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class="dropdown-item">Active Accounts <span class="sr-only">(current)</span></a>
                <a href="#" class="dropdown-item">With Arrears</a>
                <a href="/payment" class="dropdown-item">Matured Accountx</a>
            </div>
        </div>
    </div>
    <table id="dataTable" class="table table-striped table-bordered" cellspacing="0">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Arrears</th>
            <th>Total Amount Due</th>
            <th>Outstanding Balance</th>
            <th>Amount Paid</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Luis Miranda</td>
            <td>Uni Level</td>
            <td>40</td>
            <td><b>PHP</b> 1,000</td>
            <td><b>PHP</b> 10,000</td>
            <td><b>PHP</b> 10,000</td>
        </tr>
        </tbody>
    </table>
</div>
