<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
	<a class="navbar-brand" href="#">[LOGO]</a>


	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>


	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav">
			<li class="nav-item {{ (page == "dash") ? "active" : "" }}">
				<a class="nav-link" href="/">Dashboard <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item {{ (page == "accounts") ? "active" : "" }}">
				<a class="nav-link" href="/accountList">Account List</a>
			</li>
			<li class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: #9a9da0; text-decoration: none">
					Reports
				</a>
				<div class="dropdown-menu">
					<a href="#" class="dropdown-item">Collection Sheet</a>
					<a href="#" class="dropdown-item">Collection Report</a>
					<a href="/payment" class="dropdown-item">Payment Form</a>
				</div>
			</li>
		</ul>
	</div>

	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
			kim admin
		</button>
		<div class="dropdown-menu" style="right: 0; left: auto;">
			<a href="#" class="dropdown-item">Account Setting</a>
			<a href="#" class="dropdown-item">Change Password</a>
			<a href="/logout" class="dropdown-item">Logout</a>
		</div>
	</div>
</nav>