<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="#">[LOGO]</a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item {{ (page == "profile") ? "active" : "" }}">
                <a class="nav-link" href="/">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pending">Pending</a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: #9a9da0; text-decoration: none">
                    Reports
                </a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Collection Sheet</a>
                    <a href="#" class="dropdown-item">Collection Report</a>
                    <a href="/payment" class="dropdown-item">Payment Form</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
           kim admin
        </button>
        <div class="dropdown-menu" style="right: 0; left: auto;">
            <a href="#" class="dropdown-item">Account Setting</a>
            <a href="#" class="dropdown-item">Change Password</a>
            <a href="/logout" class="dropdown-item">Logout</a>
        </div>
    </div>
</nav>

<!--Table-->
<div class="container mt-3">
    <h3 class="text-muted pb-1" style="border-bottom: 1px solid #636c72">Client List</h3>
    <table id="dataTable" class="display" style="width:100%">
        <thead>
        <tr>
            <th></th>
            <th>TID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Transaction Type</th>
            <th></th>
        </tr>
        </thead>

    </table>
</div>

<!--Modal Approve-->
<div class="modal fade" id="approve" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
	    <div class="modal-content">
		    <div class="modal-header bg-primary">
			    <span class="text-white">Confirm Action</span>
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
			    </button>
		    </div>
		    <div class="modal-body">
			    <h6 class="font-weight-normal">Are you sure to approve this client ?</h6>
		    </div>
		    <div class="modal-footer">
			    <button type="button" class="btn btn-outline-secondary decline" data-dismiss="modal">Close</button>
			    <button type="button" class="btn btn-primary approve">Approve</button>
		    </div>
	    </div>
    </div>
</div>

<!--Modal Decline-->
<div class="modal fade" id="decline" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <span class="text-white">Confirm Action</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6 class="font-weight-normal">Are you sure to decline this client ?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary decline" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger decline">Decline</button>
            </div>
        </div>
    </div>
</div>


{# DataTable JavaScript Algorithm #}
<script type="text/javascript">
	/* Formatting function for row details - modify as you need */
	function format ( d ) {
		// `d` is the original data object for the row
		return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
			'<tr>'+
			'   <td class="font-weight-bold">Client ID:</td>'+
			'   <td>'+d.user_id+'</td>'+
			'</tr>'+
			'<tr>'+
			'   <td class="font-weight-bold">Invited By ID:</td>'+
			'   <td>'+d.parent_id+'</td>'+
			'</tr>'+
			'<tr>'+
			'   <td class="font-weight-bold">Address:</td>'+
			'   <td>'+d.ad+'</td>'+
			'</tr>'+
			'<tr>'+
			'   <td class="font-weight-bold">Email:</td>'+
			'   <td>'+d.email+'</td>'+
			'</tr>'+
			'<tr>'+
			'   <td class="font-weight-bold">Contact Number:</td>'+
			'   <td>'+d.cn+'</td>'+
			'</tr>'+
			'<tr>'+
			'   <td class="font-weight-bold">Birth date:</td>'+
			'   <td>'+d.bdate+'</td>'+
			'</tr>'+
			'</table>';
	}

	// Initialize the dataTable functionality
	var table = $('#dataTable').DataTable({
		"processing": true, "serverSide": true, "responsive": true,
		"ajax": {
			url :"/", type: "POST"
		},
		"columns": [
            {
                "className": 'info-control',
                "orderable": false,
                "data": null,
                "defaultContent": ''
            }, {
            	"data": "id"
            }, {
			    "data": "fn"
            },{
			    "data": "ln"
            }, {
			    "data": "type"
            }, {
            	"data": "action",
                "orderable":false,
                "targets": -1,
                "data": null,
                "defaultContent":
                    "<button class='mr-1 approve btn btn-outline-primary' data-toggle='modal' data-target='#approve'>Approve</button>"+
                    "<button class='mr-1 decline btn btn-danger' data-toggle='modal' data-target='#decline'>Decline</button>"
		    }
        ],
		"order": [[ 1, "desc" ]],
		language: {
			paginate: {
				previous: "&#171;", next: "&#187;"
			}
		}
	});

	// When the approve button is clicked
	$('#dataTable tbody').on( 'click', 'button.approve', function () {
		var data = table.row( $(this).parents('tr') ).data();

		// Change the data id as the target within the confirmation modal
		var ModalApproveBtn = $("#approve").find("button.approve");
		ModalApproveBtn.attr("data-id", data["id"]);
		ModalApproveBtn.attr("data-user_id", data["user_id"]);
		ModalApproveBtn.attr("data-parent_id", data["parent_id"]);
		ModalApproveBtn.attr("data-type", data["type"]);
	} );

	// When the decline button is clicked
	$('#dataTable tbody').on( 'click', 'button.decline', function () {
		var data = table.row( $(this).parents('tr') ).data();

		// Change the data id as the target within the confirmation modal
        var ModalDeclineBtn = $("#decline").find("button.decline");
		ModalDeclineBtn.attr("data-id", data["id"]);
	} );


	// Add event listener for opening and closing details
	$('#dataTable tbody').on('click', 'td.info-control', function () {
		var tr = $(this).closest('tr');
		var row = table.row( tr );

		if ( row.child.isShown() ) {
			// This row is already open - close it
			row.child.hide();
			tr.removeClass('shown');
		}
		else {
			// Open this row
			row.child( format(row.data()) ).show();
			tr.addClass('shown');
		}
	} );
</script>

{# Modal Javascript Algorithm #}
<script type="text/javascript">
    function errorMethod() {
	    {# Show the Server Error #}
	    alert("Server Error: An internet connection distortion occur while trying to send your request. Please try again later");
    }
    
    $("#decline .decline").on("click", function () {
	    var dataID = $(this).data("id");

	    {# Ajax Request to the binary request #}
	    var JQXHR = $.ajax({
		    url: "/",
		    type: "POST",
		    data: {"decline": dataID},
		    beforeSend: function () {
		    	// Sending Please wait...
		    }
	    })

	    {# Get the server response when the request is successful  #}
	    JQXHR.done(function(data){
	    	// refresh page
		    if (data == "1"){
			    location.href = "/";
			    return;
		    }

		    {# Show server error message #}
		    errorMethod();
	    });

	    JQXHR.fail(errorMethod);
    });

    $("#approve .approve").on("click", function () {
        var dataID = $(this).data("id");
        var dataType = $(this).data("type");
        var userID = $(this).data("user_id");
        var parentID = $(this).data("parent_id");

	    {# Ajax Request to the binary request #}
	    var JQXHR = $.ajax({
		    url: "/",
		    type: "POST",
		    data: {
		    	"approve": dataID,
		    	"type": dataType,
			    "user_id": userID,
			    "parent_id": parentID
		    },
		    beforeSend: function () {
			    // Sending Please wait...
		    }
	    })

	    {# Get the server response when the request is successful  #}
	    JQXHR.done(function(data){
		    // refresh page
		    if (data == "1"){
			    location.href = "/";
			    return;
		    }

		    {# Show server error message #}
		    errorMethod();
	    });

	    JQXHR.fail(errorMethod);
    });
</script>