<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="#">[LOGO]</a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item {{ (page == "profile") ? "active" : "" }}">
                <a class="nav-link" href="/">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pending">Pending</a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: #9a9da0; text-decoration: none">
                    Reports
                </a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Collection Sheet</a>
                    <a href="#" class="dropdown-item">Collection Report</a>
                    <a href="/payment" class="dropdown-item">Payment Form</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
           kim admin
        </button>
        <div class="dropdown-menu" style="right: 0; left: auto;">
            <a href="#" class="dropdown-item">Account Setting</a>
            <a href="#" class="dropdown-item">Change Password</a>
            <a href="/logout" class="dropdown-item">Logout</a>
        </div>
    </div>
</nav>
<!--Table-->
<div class="container mt-3">
    <h3 class="text-muted pb-1" style="border-bottom: 1px solid #636c72">Client List</h3>
    <table id="dataTable" class="table table-striped table-bordered" cellspacing="0">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Status</th>
            <th>Type</th>
            <th style="width: 230px">Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>kim luta</td>
                <td>calauag city</td>
                <td>unpaid</td>
                <td>binary level</td>
                <td>
                    <button class="btn btn-outline-primary mr-2" data-toggle="modal" data-target="#approve">Approve</button>
                    <button class="btn btn-outline-danger" data-toggle="modal" data-target="#decline" >Decline</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!--Modal Approve-->
<div class="modal fade" id="approve" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Are you sure to approve this client ?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-primary">Approve</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Decline-->
<div class="modal fade" id="decline" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Are you sure to decline this client ?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-danger">Decline</button>
            </div>
        </div>
    </div>
</div>