
{# Include the DashBoard #}
{% set page = "accounts" %}
{{ include("dashboard/header.twig") }}


<div class="container mt-3">
    <h3 class="text-muted pb-1" style="border-bottom: 1px solid #636c72">All of the Clients</h3>
    <table id="dataTable" class="table table-striped table-bordered" cellspacing="0">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Status</th>
            <th>Type</th>
            <th style="width: 230px">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark Cama</td>
            <td>Naga city</td>
            <td>Unpaid</td>
            <td>Uni Level</td>
            <td>
                <button class="btn btn-outline-warning mr-1" data-toggle="modal" data-target="#lend">Lend</button>
                <button class="btn btn-outline-success mr-1" data-target="" >Ledger</button>
                <button class="btn btn-outline-primary " data-toggle="modal" data-target="#edit" >Edit</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--Modal Lend-->
<div class="modal fade" id="lend" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title" id="exampleModalLabel">Lend</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>No content!</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-primary">Approve</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Edit-->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>No content!</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-primary">Approve</button>
            </div>
        </div>
    </div>
</div>